:root {
    font-size: 20px;
}

* {
    padding: 0px;
}

body {
    padding: 2rem;
    background-color: rgb(219, 214, 208);
}

h3, h4, .hero-body {
    text-align: center;
}

h4 {
    padding: 0.5rem;
}

div {
    margin-bottom: 0.3rem;
}

a {
    font-weight: bold;
    text-decoration: none;
}

button {
    width: 100%;
}

hr {
    height: 3px;
    background-color: orangered;
}

table, form {
    border: 2px solid white;
    margin-bottom: 10px;
    padding: 5px;
}

.hero-sm, .saldo, .formularze, .history {
    padding: 1rem;
}

.send-button {
    width: 100%;
    margin-top: 10px;
    border: None;
    padding: 0.2rem;
    font-weight: bold;
}

.form-label {
    font-size: 0.7rem;
}


/* .column { 
    border: 1px solid grey;
}*/