{% extends 'base.html' %}

{% block title %}
    <title>Historia</title>
{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column col-xs-12">
            <div class="history bg-success">
                <h3>Historia</h3>
            </div>
            <div class="column col-xs-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Czas wpisu</th>
                            <th>Treść</th>
                        </tr>
                    </thead>
                    <tbody>                            
                        {% for items in history: %}
                            <tr>
                                <td>{{ items.date }}</td>
                                <td>{{ items.comment }}</td>
                            </tr>    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}