{% extends 'base.html' %}

{% block title %}
    <title>Strona główna</title>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column col-xs-3">
        <div class="saldo bg-error">
            <h3>Saldo: {{ balance }} PLN</h3>
        </div>
        <div class="saldo bg-primary">
            <h3>Magazyn</h3>
        </div>
        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Cena jednostkowa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.price }}</td>
                        </tr>    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="column col-xs-9">
 
        <form method="POST" action="/change_balance">
            <div class="form-group">
                <div class="bg-warning">
                    <h4>Zmiana salda</h4>
                </div>
                <input class="form-input" type="number" name="saldo" id="saldo" placeholder="Zmiana salda o">
                <input class="form-input" type="text" name="komentarz" id="komentarz" placeholder="Komentarz">
                <input class="send-button bg-success" type="submit" id="saldo_zmien" value="Zmień">
            </div>
        </form>

        <form method="POST" action="/add_product">
            <div class="form-group">
                <div class="bg-warning">
                    <h4>Kup produkt</h4>
                </div>
                <input class="form-input" type="text" name="zakup_produkt" id="zakup_produkt" placeholder="Nazwa produktu">
                <input class="form-input" type="number" name="zakup_cena" id="zakup_cena" placeholder="Cena jednostkowa">
                <input class="form-input" type="number" name="zakup_ilosc" id="zakup_ilosc" placeholder="Liczba sztuk">
                <input class="send-button bg-success" type="submit" id="zakup_zakup" value="Zakup">
            </div>
        </form>

        <form method="POST" action="sell_product">
            <div class="form-group">
                <div class="bg-warning">
                    <h4>Sprzedaj produkt</h4>
                </div>
                <input class="form-input" type="text" name="sprzedaz_produkt" id="sprzedaz_produkt" placeholder="Nazwa produktu">
                <input class="form-input" type="number" name="sprzedaz_cena" id="sprzedaz_cena" placeholder="Cena jednostkowa">
                <input class="form-input" type="number" name="sprzedaz_ilosc" id="sprzedaz_ilosc" placeholder="Liczba sztuk">
                <input class="send-button bg-success" type="submit" id="sprzedaz_sprzedaj" value="Sprzedaj">
            </div>
        </form>
    </div>
</div>
{% endblock %}